.shopbutton {
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 20px;
    border-radius: 30px;
    font-weight: bold;
    background-color: #95B3E0;
    color: black;
}
.shopbutton:hover {
    background-color: #f9acb9;
    border-color: #d65a6f;
    color: white;
}

.card-image-container {
    position: relative;
    width: 100%;
    padding-top: 100%;
  }
  
  .card-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80%;
    object-fit: cover;
  }
  
  @media (max-width: 768px) {
    .card-image-container {
      padding-top: 75%;
    }
  }